[Desktop Entry]
Name=cisco-auditing-tool
Encoding=UTF-8
Exec=sh -c "CAT;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-cisco-attacks;02-01-cisco-tools;
